body {
  background-color: white;
  margin: auto;
  text-align: left;
  font-family: 'Merriweather', serif;
  overflow-x: hidden;
}

h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Playpen Sans', cursive;
}

h2 {
  font-family: 'Playpen Sans', cursive;
  font-style: italic;
  font-size: 2.2rem;
  color: #E6A4B4;
  font-weight: normal;
  margin-bottom: 15px;
}

h3 {
  color: #7D7C7C;
  font-family: 'Playpen Sans', cursive;
}

h4 {
  color: #7D7C7C;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

p {
  color: #7D7C7C;
}

hr {
  border: dotted #FF9494 6px;
  border-bottom: none;
  width: 2%;
  margin: 100px auto;
}

/* Tabs style */

.tabs {
  width: 100%;
  background: #E6A4B4;
  position: fixed;
  z-index: 1;
}

ul.nav-tab {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul.nav-tab li {
  padding: 10px;
  list-style: none;
  cursor: pointer;
  transition: all 0.7s;
  margin: 0 10px;
}

ul.nav-tab li:hover {
  background-color: #FFD1D1;
}

ul.nav-tab a {
  color: #7D7C7C;
  font-family: 'Merriweather', serif;
  font-size: 20px;
  text-decoration: none;
}

.blur {
  filter: blur(5px);
}

.active {
  filter: none;
}

/* Introduction */

.profile-img {
  width: 20%;
  margin-bottom: 25px;
}

.top-container {
  text-align: center;
  position: relative;
  padding-top: 120px;
  font-size: 20px;
}

.top-icon {
  text-align: center;
  width: 100%;
  color: #E6A4B4;
  padding-top: 100px;
  font-size: 30px;
}

/* Profile */

.profile-container {
  padding: 20px;
  background-color: #F5EEE6;
}

.title {
  color: #E6A4B4;
  font-family: 'Merriweather', serif;
  font-style: normal;
  text-align: left;
}

.intro {
  margin: auto;
  text-align: left;
  line-height: 2.5;
  font-size: 18px;
}

.btn-resume {
  width: 130px;
  height: 40px;
  font-family: 'Merriweather', serif;
  color: #7D7C7C;
  font-style: normal;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
  border: 5px #E6A4B4;
  border-radius: 2px;
  background: linear-gradient(270deg, #FF9494, #E6A4B4);
  cursor: pointer;
}

.btn-resume:hover {
  background: #FFD1D1;
}

/* Education */

.education-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-bottom: 100px;
  margin-top: 50px;
  text-align: center;
}

.education-title {
  font-family: 'Merriweather', serif;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: normal;
  color: #E6A4B4;
}

.grid-education-item1 {
  font-family: 'Merriweather', serif;

}

.grid-education-item1 p {
  font-size: 18px;
}

.grid-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  font-size: 25px;
}


/* Contact Style */

.contact-container {
  background-color: #F5EEE6;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 60px;
}

.contact-container form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  max-width: 800px;
}

.contact-container form .form-inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contact-container form input,
.message-input {
  font-size: 1rem;
  border: 1px solid #E6A4B4;
  color: #7D7C7C;
  border-radius: 5px;
  resize: none;
  width: 100%;
  height: 50px;
  box-sizing: border-box; 

}

.message-input {  
  height: 200px;
  margin-top: 10px;
}

.contact-container form input,
.contact-container form button {
  margin-top: 10px;
}

.contact-title {
  font-family: 'Merriweather', serif;
  font-size: 3rem;
  font-style: normal;
  font-weight: normal;
  color: #E6A4B4;
}

.contact-links {
  color: #E6A4B4;
  font-size: 2rem;
  padding: 60px 10px 10px 10px;
  margin-bottom: 50px;
}

.btn-contact {
  font-family: 'Merriweather', serif;
  font-size: 1.5rem;
  color: #7D7C7C;
  border: 5px #E6A4B4;
  border-radius: 2px;
  background: linear-gradient(270deg, #FF9494, #E6A4B4);
  cursor: pointer;
}

.btn-contact:hover {
  background: #FFD1D1;
}

.footer {
  color: #7D7C7C;
  width: 100%;
  background: #E6A4B4;
  position: relative;
  bottom: 0;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
